.content {
  margin-bottom: 40px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switcher__container {
  display: flex;
  align-items: center;
  gap: 10px;
}
