.calendar {
  &__cell {
    min-width: 140px;
    min-height: 80px;
    background-color: #1e1f21;
  }
}

.is-weekend {
  background-color: #272829;
}

.cell {
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.day {
  &__number {
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
}

.week {
  &__number {
    color: #fff;
  }
}
